html,
body {
  height: 99%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
 
body {
  background: #fff url(https://images.unsplash.com/photo-1579370318443-8da816457e3d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80) center center/cover no-repeat;
  
}
.flexbox{
  display: flex;
  box-sizing: border-box;

}
.item{
  display:block;
  box-sizing: border-box;
  width: 400%; 
}
.content{
  background-color: darkturquoise;
  border:2px solid black;
  padding: 16px;
  
}